.moonlight .ticket__icon::before {
    color: white;
}

.moonlight .ticket__subtitle {
    color: white;
}

.moonlight .loader {
    background: var(--dark);
}

.moonlight .loader::before {
    border: 6px solid white;
    border-top-color: #3BDC96;
}

.moonlight .ticket--success .ticket__icon {
    border: none;
}

.moonlight .ticket--success .ticket__icon::before {
    color: #3BDC96;
}